/* @theme는 아무 CSS 파일에서나 되는 게 아니라 전역(global)에서만 먹습니다. */

/* 아래 코드를 global.css에 옮겨야 실행이 됩니다. 백업용으로 넣어둠 */
@theme {
    --animate-show-up : show-up 0.6s ease 0s both;
    @keyframes  show-up {
       from {
        transform: translateY(20px);
        opacity: 0;
      }
        to {
        transform: translateY(0);
        opacity: 1;
        }
    }
}